<!DOCTYPE html>
<html>
  <head>
    <title><h1>header.one</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <a title="header.one" href="/">
          <%= image_tag('h1-logo-(v3-3-1-svg)') %> 
        </a>

        
        <ul class="menu">
          <li class="menu-items active"><a href="/">Home</a></li>
          <li class="menu-items"><a href="#about">About</a></li>
        </ul>
      </nav>
    </header>    

    <%= yield %>

    <footer>
    <div>
      <p class="footer">© <%= Time.now.year %> HEADER ONE | CNPJ 38.478.073/0001-66</p>
    </div>
    </footer>
  </body>
</html>
