<!DOCTYPE html>
<html>
  <head>
    <title><h1>header.one</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <%= image_tag('h1-logo-(v3-3-1-svg)') %>
      </nav>
    </header>    

    <%= yield %>

    <footer></footer>
  </body>
</html>
